# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Mantis.iml
/projectSettingsUpdater.xml
/.idea/.idea.Mantis/.idea/*
/.idea.Mantis/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#bin
Mantis/bin/*
Mantis/obj/*
MantisExamples/bin/*
MantisExamples/obj/*
MantisTrials/obj/*
MantisTrials/bin/*

